# [作業目標]

1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```


2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

# 作業

### 1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```

In [ ]:
'''
Your Code
'''
df.loc[ '2013-01-01', 'A'] # 選取 row : 20130101, columns: A的資料
df.loc[ '2013-01-01', ['A', 'B'] ] # 選取 row : 20130101, columns: A, B 的資料
df.loc[ '2013-01-01':'2013-01-02', 'A' ] # 選取 row : 20130101-20130102, columns: A的資料
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] # 選取 row : 20130101-20130105, columns: A-C的資料

### 2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

In [3]:
# 記得先 Import 正確的套件

'''
Your Code
'''
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df

       col1      col2      col3
0  0.491725 -0.781313  1.030794
1 -0.287712  2.265070  1.254125
2 -0.234650  0.988644  1.189509
3  0.929099 -0.007033 -0.560213
4 -0.512282  0.678199  0.607659
5  0.003653 -0.181081 -0.764344

In [54]:
'''
Your Code
'''
# - select the first 3 rows.
print(df.head(3))
# - select the odd rows. (index = 1, 3, 5)
print(df.iloc[[1, 3, 5], :])
# - select the last 2 columns.
print(df.tail(2))
# - select the even columns. (index = 0, 2, 4)
print(df.iloc[:, 0::2])

    0   1   2   3
0  12  21  29  18
1  31  33  11  31
2  14  23  37  30
    0   1   2   3
1  31  33  11  31
3  21  38  16  38
5  15  36  13  28
     0   1   2   3
13  30  32  16  22
14  24  16  16  20
     0   2
0   12  29
1   31  11
2   14  37
3   21  16
4   24  17
5   15  13
6   13  21
7   10  26
8   39  30
9   32  28
10  15  21
11  18  38
12  39  38
13  30  16
14  24  16

### 3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

In [41]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
df

     0   1   2   3
0   12  21  29  18
1   31  33  11  31
2   14  23  37  30
3   21  38  16  38
4   24  25  17  20
5   15  36  13  28
6   13  12  21  29
7   10  25  26  12
8   39  15  30  10
9   32  34  28  13
10  15  31  21  14
11  18  36  38  24
12  39  20  38  39
13  30  32  16  22
14  24  16  16  20

In [42]:
'''
Your Code
'''
# - 1. filtered by first column > 20?
print(df[df[0] > 20])

     0   1   2   3
1   31  33  11  31
3   21  38  16  38
4   24  25  17  20
8   39  15  30  10
9   32  34  28  13
12  39  20  38  39
13  30  32  16  22
14  24  16  16  20

In [45]:
# - 2. filtered by first column + second column > 50
print(df[(df[0] + df[1]) > 50])

     0   1   2   3
1   31  33  11  31
3   21  38  16  38
5   15  36  13  28
8   39  15  30  10
9   32  34  28  13
11  18  36  38  24
12  39  20  38  39
13  30  32  16  22

In [55]:
# - 3. filtered by first column < 30 or second column > 30
# df.loc[:,0] < 30
print(df[(df[0] < 30) | (df[1] > 30)])

     0   1   2   3
0   12  21  29  18
1   31  33  11  31
2   14  23  37  30
3   21  38  16  38
4   24  25  17  20
5   15  36  13  28
6   13  12  21  29
7   10  25  26  12
9   32  34  28  13
10  15  31  21  14
11  18  36  38  24
13  30  32  16  22
14  24  16  16  20

In [56]:
# - 4. filtered by total sum of row > 100
df[df.apply(np.sum, axis=1) > 100]

     0   1   2   3
1   31  33  11  31
2   14  23  37  30
3   21  38  16  38
9   32  34  28  13
11  18  36  38  24
12  39  20  38  39